/* smartphone/defaults */
.column {
    width: 100%;
    min-height: 180px;
    margin: 1px;
    background: lightgreen;
}

/* tablet */
@media (min-width: 768px) {
    .column {
        float: left;
        width: 30%;
        margin: 10px;
        background: green;
    }
}

/* desktop */
@media (min-width: 992px) {
    .column {
        float: left;
        width: 30%;
        margin: 5px;
        background: darkgreen;
    }
}

